body {
}

#general-city-area {
    border-style: solid;
    border-right-style: none;
    border-width: 1px;
/*    padding-right: 50%; */
    width: 100%;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

.forecast-day {
    color: white;
}

aside {
    background-color: rgb(245, 245, 245);
}

#applicationName {
    position: absolute; 
    right: 20px;
}

.headerBar {
    font-size: 17px;
    display: block;
}

.uviGreen {
    background-color: lightgreen;
}

.uviYellow {
    background-color: yellow;
}

.uviOrange {
    background-color: orange;
}

.uviRed {
    background-color: red;
    color: white;
}

.uviViolet {
    background-color: violet;
}

main {
}

/* Make <h1> bold */
h1 {
    font-weight: bold;
    font-size: 30px;
}

h2 {
    font-weight: bold;
    font-size: 25px;
}

h3 {
    font-weight: normal;
    font-size: 20px;
}

