body {
}

#general-city-area {
    border-style: solid;
    border-right-style: none;
    border-width: 1px;
    padding-right: 50%;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

.forecast-day {
    color: white;
}
aside {
    background-color: rgb(245, 245, 245);
}

#applicationName {
    position: absolute; 
    right: 20px;
}

.headerBar {
    font-size: 17px;
    display: block;
}
#highScoreOption {
    position: relative;
    left: 30px;
}

#highScoreBar {
    position: relative; 
    left:60px;
}

#timerBar {
    position: absolute; 
    right: 20px;
}

#penaltyBar {
    position: absolute; 
    right: 20px;
    color: red;
    font-weight: bold;
    visibility: hidden;
}

#welcome {
    display: block;
}

#mainTrivia {
    display: none;
}

#resultsWinner {
    display: none;
}

#resultsLoser {
    display: none;
}

#highScores {
    display: none;
}

.highScoreList {
    background-color: lightblue;
    list-style-type: none;
    padding: 5px;    
}


ul.answerList {
    list-style-type: none;
    padding: 5px;
}

li.answerListItem {
    padding: 0px 0px 5px 10px;

}

#answerStatus {
    color: red;
    font-style: italic;
    padding: 0px 0px 0px 15px;
    display: block;
}


main {
}

/* Override font-family for <h1> and .navbar-brand */
.navbar-brand {
    font-family: 'Cinzel', serif;
}

/* Make <h1> bold */
h1 {
    font-weight: bold;
    font-size: 30px;
}

h2 {
    font-weight: bold;
    font-size: 25px;
}

h3 {
    font-weight: normal;
    font-size: 20px;
}

